h2 { margin-top: 1em; }

/* Map page */

#map {
	position: absolute;
	top: 6em;
	left: 0;
	right: 0;
	bottom: 0;
}

@media screen and (max-width: 736px) {
	#map {
		top: 8em;
	}
}

/* Directory pages */

.survey_section {
	margin-top: 2em;
	margin-bottom: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid #CCC;
}
.question>span:first-child { font-weight: bold; padding-right: 6px; }

#site_map {
	max-width: 100%;
	width: 400px;
	height: 400px;
}

.images { margin-bottom: 2em; }
.images img { width: 160px; margin-right: 20px; cursor: pointer; }

#modal {
	left: 0; right: 0; top: 0; bottom: 0; position: fixed; background-color: rgba(0,0,0,0.5);
	display: none;
	z-index: 10000;
}
#modal img {
	position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%);
	max-width: 80%; max-height: 80%;
	border: 10px solid white;
}

/* Data explorer */

code,tt {
	font-family: "Lucida Console", Monaco, monospace;
	background-color: #EEE;
	padding: 2px;
	font-size: small;
}
code {
	display: block;
	padding: 8px;
	margin: 0 1em 1em 1em;
}
